---
---

// add bootstrap variable settings here

@import 'bootstrap';
@import 'svg-icons';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

footer {
  padding: 20px 0;
  text-align: center;
}